<tr class="collapse <%= 'pr' + action[j].fk_pr %>">
  <th scope="row">
    <div class="collapse <%= 'pr' + action[j].fk_pr %>"><%= action[j].action_name %></div>
  </th>
  <td>
    <div class="collapse <%= 'pr' + action[j].fk_pr %>"><%= action[j].pr_sector %></div>
  </td>
  <td>
    <div class="collapse <%= 'pr' + action[j].fk_pr %>"><%= action[j].pr_date %></div>
  </td>
  <td>
    <div class="collapse <%= 'pr' + action[j].fk_pr %>"><%= action[j].action_original_value %></div>
  </td>
  <td>
    <div class="collapse <%= 'pr' + action[j].fk_pr %>"></div>
  </td>
  <td>
    <div class="collapse <%= 'pr' + action[j].fk_pr %>"><%= action[j].action_ressarciment_date %></div>
  </td>
  <td>
    <div class="collapse <%= 'pr' + action[j].fk_pr %>"><%= action[j].action_ressarciment_value %></div>
  </td>
  <td>
    <div class="collapse <%= 'pr' + action[j].fk_pr %>"></div>
  </td>
</tr>